version: "3"

tasks:
  repo-update:
    cmds:
    - helm repo add keycloak https://codecentric.github.io/helm-charts
    - helm repo update
    - helm search repo keycloakx
  default-values:
    cmds:
    - helm show values keycloak/keycloakx > default-values.yaml
  build:
    desc: build k8s manifests
    cmds:
    - kustomize build --enable-helm .
  diff:
    desc: diff k8s manifests
    cmds:
    - kustomize build --enable-helm . | kubectl diff -f-
  apply:
    desc: apply k8s manifests
    cmds:
    - kustomize build --enable-helm . | kubectl apply --server-side -f-
    - kubectl delete pods keycloak-keycloakx-0
  delete:
    desc: delete k8s manifests
    cmds:
    - kustomize build --enable-helm . | kubectl delete -f-
