apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: valkey-secret
  namespace: immich
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: valkey-secret
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: immich/valkey-secret
