apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
resources:
- namespace.yaml
- cloudnative-pg.yaml
- ml-deployment.yaml
- ml-pvc.yaml
- ml-service.yaml
- server-deployment.yaml
- ingressroute.yaml
- server-metrics-service.yaml
- server-pvc.yaml
- server-service.yaml
- external-secret.yaml
images:
- name: ghcr.io/immich-app/immich-server
  newTag: v2.5.3
- name: ghcr.io/immich-app/immich-machine-learning
  newTag: v2.5.3
helmCharts:
# Immich は 公式の Helm チャートが用意されているが、実装が不十分なので手書きする
# https://immich.app/docs/install/kubernetes/
- name: valkey
  releaseName: valkey
  version: 5.1.7
  repo: oci://registry-1.docker.io/bitnamicharts
  valuesInline:
    architecture: standalone
    auth:
      existingSecret: valkey-secret
    global:
      imageRegistry: public.ecr.aws
      security:
        # imageRegistry を変更するために必要
        allowInsecureImages: true
    primary:
      extraEnvVars:
      - name: TZ
        value: Asia/Tokyo
      persistence:
        enabled: true
      resourcesPreset: nano
