apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: influxdb
  namespace: temporis
spec:
  components:
  - name: influxdb2
    type: helm
    properties:
      repoUrl: https://helm.influxdata.com/
      chart: influxdb2
      version: 2.1.2
      values:
        adminUser:
          existingSecret: influxdb2-auth
        persistence:
          enabled: true
          storageClass: nfs-client
          accessMode: ReadWriteOnce
          size: 50Gi
          mountPath: /var/lib/influxdb2
          subPath: ""
        pdb:
          create: false
