apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-notifications-cm
  labels:
    app.kubernetes.io/name: argocd-notifications-controller
data:
  service.github: |
    appID: $github-app-id
    installationID: $github-installation-id
    privateKey: $github-private-key
  service.webhook.discord: |
    url: $discord-webhook-url
    headers:
      - name: Content-Type
        value: application/json
  subscriptions: |
    - recipients:
        - github
      triggers:
        - on-sync-running
        - on-deployed
        - on-sync-failed
    - recipients:
        - discord
      triggers:
        - on-status-change
  template.discord-status: |
    webhook:
      discord:
        method: POST
        body: |
          {
            "username": "Argo CD",
            "embeds": [
              {
                {{if eq .app.status.operationState.phase "Succeeded"}}"color": 34628,{{end}}
                {{if eq .app.status.operationState.phase "Running"}}"color": 16754432,{{end}}
                {{if eq .app.status.operationState.phase "Error"}}"color": 14036256,{{end}}
                {{if eq .app.status.operationState.phase "Failed"}}"color": 14036256,{{end}}
                "title": "{{.app.metadata.name}}",
                "description": "Application state is now **{{.app.status.operationState.phase}}**.",
                "url": "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}"
              }
            ]
          }
  template.github-pending: |
    message: Application {{.app.metadata.name}} sync is in progress.
    github:
      status:
        state: pending
        label: "CD/{{.app.metadata.name}}"
        targetURL: "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}?operation=true"
  template.github-success: |
    message: Application {{.app.metadata.name}} is now running new version of deployments manifests.
    github:
      status:
        state: success
        label: "CD/{{.app.metadata.name}}"
        targetURL: "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}?operation=true"
  template.github-failure: |
    message: Application {{.app.metadata.name}} sync has failed.
    github:
      status:
        state: failure
        label: "CD/{{.app.metadata.name}}"
        targetURL: "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}?operation=true"
  trigger.on-sync-running: |
    - when: app.status.operationState.phase == 'Running'
      send: [github-pending]
  trigger.on-deployed: |
    - when: app.status.operationState.phase in ['Succeeded'] and app.status.health.status == 'Healthy'
      oncePer: app.status.sync.revision
      send: [github-success]
  trigger.on-sync-failed: |
    - when: app.status.operationState.phase in ['Error', 'Failed']
      oncePer: app.status.sync.revision
      send: [github-failure]
  trigger.on-status-change: |-
    - when: app.status.operationState.phase in ['Succeeded', 'Error', 'Failed']
      oncePer: app.status.sync.revision
      send: [discord-status]
