apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  labels:
    app.kubernetes.io/name: argocd-cm

data:
  admin.enabled: "false"
  exec.enabled: "true"
  helm.enabled: "true"
  kustomize.buildOptions: --enable-helm --load-restrictor LoadRestrictionsNone
  kustomize.enabled: "true"

  statusbadge.enabled: "true"

  url: https://argocd.harvestasya.org

  users.anonymous.enabled: "false"
  oidc.config: |-
    # https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#existing-oidc-provider
    name: Qualia
    issuer: https://qualia.harvestasya.org/application/o/argocd/
    clientID: $argocd-oidc-secret:authentik.client-id
    clientSecret: $argocd-oidc-secret:authentik.client-secret
    requestedIDTokenClaims: {"groups": {"essential": true}}
    requestedScopes:
      - openid
      - profile
      - email
