apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloudflared

resources:
- namespace.yaml
- secret.yaml
- deployment.yaml

images:
- name: cloudflare/cloudflared
  newTag: "2024.11.1"

labels:
- pairs:
    app.kubernetes.io/name: cloudflared
  includeSelectors: true
