apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: homarr-data
  labels:
    app.kubernetes.io/name: homarr
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage: 1Gi
