apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: n8n-pg
  namespace: n8n
spec:
  instances: 1

  storage:
    size: 1Gi

  bootstrap:
    initdb:
      database: n8n
      owner: n8n
