apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: n8n

resources:
# K8s native resources
- namespace.yaml
- cnpg-cluster.yaml
- secret-n8n.yaml
- pvc.yaml

# KubeVela Application
- application.yaml
