apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: n8n

resources:
- cnpg-cluster.yaml
- deployment.yaml
- ingress.yaml
- namespace.yaml
- pvc.yaml
- secret-n8n.yaml
- service.yaml


configMapGenerator:
- literals:
  - GENERIC_TIMEZONE=Asia/Tokyo
  - N8N_PROTOCOL=http
  - N8N_PORT=5678
  - WEBHOOK_URL=https://reyvateils.harvestasya.org/
  - N8N_PROXY_HOPS=1
  - N8N_HOST=n8n.harvestasya.org
  - N8N_EDITOR_BASE_URL=https://reyvateils.harvestasya.org
  - DB_TYPE=postgresdb
  name: n8n-config-env
