apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: ddns
  namespace: ddns
spec:
  components:
  - name: ddns
    type: worker
    properties:
      image: timothyjmiller/cloudflare-ddns:latest
      cpu: "50m"
      memory: 32Mi
      env:
      - name: PUID
        value: "1000"
      - name: PGID
        value: "1000"
      volumeMounts:
        secret:
        - name: config
          mountPath: /config.json
          subPath: config.json
          secretName: config
          defaultMode: 420
          items:
          - key: config.json
            path: config.json
