apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-pg
  namespace: immich
spec:
  instances: 1

  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:16.9-0.4.3

  postgresql:
    shared_preload_libraries:
    - vchord.so

  storage:
    size: 10Gi

  bootstrap:
    initdb:
      database: immich
      owner: immich
      postInitSQL:
      - CREATE EXTENSION IF NOT EXISTS vchord CASCADE
      - CREATE EXTENSION IF NOT EXISTS earthdistance CASCADE
