apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-pg
  namespace: immich
spec:
  instances: 1
  imageName: ghcr.io/tensorchord/cloudnative-pgvecto-rs:16.3-v0.2.1
  postgresql:
    shared_preload_libraries:
      - vectors.so
  storage:
    size: 10Gi
  bootstrap:
    initdb:
      database: immich
      owner: immich
      postInitSQL:
        - CREATE EXTENSION IF NOT EXISTS vectors CASCADE
        - CREATE EXTENSION IF NOT EXISTS earthdistance CASCADE
