apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
resources:
  - cnpg-cluster.yaml
  - ingress.yaml
  - machine-learning-deployment.yaml
  - machine-learning-service.yaml
  # - namespace.yaml
  - pvc.yaml
  - redis-deployment.yaml
  - redis-service.yaml
  - server-deployment.yaml
  - server-service.yaml
