version: "3"
tasks:
  build:
    desc: build k8s manifests
    cmds:
    - kustomize build --enable-helm .
  diff:
    desc: diff k8s manifests
    cmds:
    - kustomize build --enable-helm . | kubectl diff -f-
  apply:
    desc: apply k8s manifests
    cmds:
    - kustomize build --enable-helm . | kubectl apply --server-side -f-
  apply-dry-run:
    desc: apply k8s manifests
    cmds:
    - kustomize build --enable-helm . | kubectl apply --server-side -f- --dry-run=server
  delete:
    desc: delete k8s manifests
    cmds:
    - kustomize build --enable-helm . | kubectl delete -f-
