apiVersion: traefik.io/v1alpha1
kind: TLSStore
metadata:
  name: default

spec:
  defaultCertificate:
    secretName: harvestasya-org-wildcard-tls
  certificates:
  - secretName: harvestasya-org-wildcard-tls
  - secretName: suzutan-jp-wildcard-tls
