apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: cloudnative-pg
  repo: https://cloudnative-pg.github.io/charts
  version: 0.26.1
  releaseName: cnpg
  namespace: cnpg-system
  includeCRDs: true
  valuesInline:
    monitoring:
      podMonitorEnabled: false
    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 256Mi
