apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: step-ca-identity

resources:
- namespace.yaml
- external-secret-config.yaml
- external-secret-certs.yaml
- external-secret-secrets.yaml
- external-secret-ca-password.yaml

helmCharts:
- name: step-certificates
  releaseName: step-certificates
  namespace: step-ca-identity
  version: 1.29.0
  repo: https://smallstep.github.io/helm-charts
  includeCRDs: false
  valuesFile: values-step-certificates.yaml

patches:
# Sync wave: ExternalSecrets first
- target:
    kind: ExternalSecret
  patch: |-
    - op: add
      path: /metadata/annotations/argocd.argoproj.io~1sync-wave
      value: "-1"
