apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: couchdb
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    path: k8s/manifests/couchdb
    repoURL: https://github.com/suzutan/infra.git
    targetRevision: HEAD
  project: apps
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - RespectIgnoreDifferences=true
    - ServerSideApply=true
