apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homarr
  namespace: argocd
spec:
  destination:
    server: "https://kubernetes.default.svc"
  source:
    path: k8s/manifests/homarr
    repoURL: "https://github.com/suzutan/infra.git"
    targetRevision: HEAD
  project: apps
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - RespectIgnoreDifferences=true
    - ServerSideApply=true
