apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: temporis
  namespace: argocd
spec:
  ignoreDifferences:
  - group: external-secrets.io
    kind: ExternalSecret
    jsonPointers:
    - /spec/dataFrom/0/extract/conversionStrategy
    - /spec/dataFrom/0/extract/decodingStrategy
    - /spec/dataFrom/0/extract/metadataPolicy
    - /spec/target/deletionPolicy
  destination:
    server: "https://kubernetes.default.svc"
  source:
    path: k8s/manifests/temporis
    repoURL: "https://github.com/suzutan/infra.git"
    targetRevision: HEAD
  project: k8s-infra
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - RespectIgnoreDifferences=true
    - ServerSideApply=true
