apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-secret
  namespace: argocd
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: argocd-secret
    creationPolicy: Owner
  data:
  - secretKey: password
    remoteRef:
      key: argocd/argocd-secret
      property: password
  - secretKey: server.secretkey
    remoteRef:
      key: argocd/argocd-secret
      property: server.secretKey
  - secretKey: webhook.github.secret
    remoteRef:
      key: argocd/argocd-secret
      property: webhook.github.secret
