global:
  domain: argocd.harvestasya.org
dex:
  enabled: false

configs:
  secret:
    # Use 1Password Operator to manage argocd-secret (for webhook.github.secret)
    createSecret: false
  params:
    # Run in insecure mode (TLS terminated by Pomerium/Traefik)
    server.insecure: "true"
  cm:
    # Global ignoreDifferences for Kubernetes default fields
    resource.customizations.ignoreDifferences.apps_StatefulSet: |
      jqPathExpressions:
      - .spec.template.spec.containers[].terminationMessagePath
      - .spec.template.spec.containers[].terminationMessagePolicy
      - .spec.template.spec.containers[].imagePullPolicy
      - .spec.template.spec.containers[].ports[].protocol
      - .spec.template.spec.containers[].livenessProbe.failureThreshold
      - .spec.template.spec.containers[].livenessProbe.successThreshold
      - .spec.template.spec.containers[].livenessProbe.timeoutSeconds
      - .spec.template.spec.containers[].livenessProbe.periodSeconds
      - .spec.template.spec.containers[].readinessProbe.failureThreshold
      - .spec.template.spec.containers[].readinessProbe.successThreshold
      - .spec.template.spec.containers[].readinessProbe.timeoutSeconds
      - .spec.template.spec.containers[].readinessProbe.periodSeconds
      - .spec.template.spec.containers[].volumeMounts[].readOnly
      - .spec.template.spec.volumes[].secret.defaultMode
      - .spec.template.spec.dnsPolicy
      - .spec.template.spec.restartPolicy
      - .spec.template.spec.schedulerName
      - .spec.template.spec.terminationGracePeriodSeconds
      - .spec.podManagementPolicy
      - .spec.revisionHistoryLimit
      - .spec.persistentVolumeClaimRetentionPolicy
      - .spec.updateStrategy
      - .spec.volumeClaimTemplates[].status
      - .spec.volumeClaimTemplates[].apiVersion
      - .spec.volumeClaimTemplates[].kind
      - .spec.volumeClaimTemplates[].spec.volumeMode
    resource.customizations.ignoreDifferences.apps_Deployment: |
      jqPathExpressions:
      - .spec.template.spec.containers[].terminationMessagePath
      - .spec.template.spec.containers[].terminationMessagePolicy
      - .spec.template.spec.containers[].imagePullPolicy
      - .spec.template.spec.containers[].ports[].protocol
      - .spec.template.spec.containers[].livenessProbe.failureThreshold
      - .spec.template.spec.containers[].livenessProbe.successThreshold
      - .spec.template.spec.containers[].livenessProbe.timeoutSeconds
      - .spec.template.spec.containers[].livenessProbe.periodSeconds
      - .spec.template.spec.containers[].readinessProbe.failureThreshold
      - .spec.template.spec.containers[].readinessProbe.successThreshold
      - .spec.template.spec.containers[].readinessProbe.timeoutSeconds
      - .spec.template.spec.containers[].readinessProbe.periodSeconds
      - .spec.template.spec.containers[].volumeMounts[].readOnly
      - .spec.template.spec.volumes[].secret.defaultMode
      - .spec.template.spec.dnsPolicy
      - .spec.template.spec.restartPolicy
      - .spec.template.spec.schedulerName
      - .spec.template.spec.terminationGracePeriodSeconds
      - .spec.revisionHistoryLimit
      - .spec.progressDeadlineSeconds
      - .spec.strategy
    resource.customizations.ignoreDifferences.external-secrets.io_ExternalSecret: |
      jsonPointers:
      - /spec/dataFrom/0/extract/conversionStrategy
      - /spec/dataFrom/0/extract/decodingStrategy
      - /spec/dataFrom/0/extract/metadataPolicy
      - /spec/data/0/remoteRef/conversionStrategy
      - /spec/data/0/remoteRef/decodingStrategy
      - /spec/data/0/remoteRef/metadataPolicy
      - /spec/data/1/remoteRef/conversionStrategy
      - /spec/data/1/remoteRef/decodingStrategy
      - /spec/data/1/remoteRef/metadataPolicy
      - /spec/data/2/remoteRef/conversionStrategy
      - /spec/data/2/remoteRef/decodingStrategy
      - /spec/data/2/remoteRef/metadataPolicy
      - /spec/target/deletionPolicy

server:
  ingress:
    enabled: false

notifications:
  secret:
    # Use 1Password Operator to manage argocd-notifications-secret
    create: false
