global:
  domain: argocd.harvestasya.org
dex:
  enabled: false

configs:
  secret:
    # Use 1Password Operator to manage argocd-secret (for webhook.github.secret)
    createSecret: false
  params:
    # Run in insecure mode (TLS terminated by Pomerium/Traefik)
    server.insecure: "true"

server:
  ingress:
    enabled: false

notifications:
  secret:
    # Use 1Password Operator to manage argocd-notifications-secret
    create: false
