apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: echoserver
  namespace: echoserver
spec:
  components:
  - name: echoserver
    type: webservice
    properties:
      image: gcr.io/google-containers/echoserver@sha256:cb5c1bddd1b5665e1867a7fa1b5fa843a47ee433bbb75d4293888b71def53229
      port: 8080
      cpu: "100m"
      memory: 100Mi
    traits:
    - type: traefik-route
      properties:
        domain: echoserver.harvestasya.org
        port: 8080
