apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: echoserver

spec:
  routes:
  - kind: Rule
    match: Host(`echoserver.harvestasya.org`)
    services:
    - name: echoserver
      port: 8080
