# .envは1Password Environmentでマウントしている前提

# .envがない場合はopコマンドで取得して設定する
if [ ! -p .env ]; then
  echo "No .env file found, loading from 1Password with op-cli..."
  source .envrc.op
else
  echo "Loading env from 1Password Environment managed .env file..."
  # .envを1行づつ読み込んでexportする
  export $(grep -v '^#' .env | xargs)
fi