apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nfs-subdir-external-provisioner
  namespace: argocd
spec:
  destination:
    server: "https://kubernetes.default.svc"
  source:
    path: freesia/manifests/nfs-subdir-external-provisioner
    repoURL: "https://github.com/suzutan/infra.git"
    targetRevision: HEAD
  project: k8s-infra
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - RespectIgnoreDifferences=true
    - ServerSideApply=true
