apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cert-manager-cloudflare
  namespace: cert-manager
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: cert-manager-cloudflare
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: cert-manager/cert-manager-cloudflare
