hostName: nexus.harvestasya.org
replicas: 1

fleet:
  autoApplySQLMigrations: true
  listenPort: 8080
  tls:
    enabled: false # TLS terminated by Traefik

database:
  address: fleet-db.infra.ssa.suzutan.jp:3306
  database: fleet
  username: fleet
  secretName: fleet-mysql-secret
  passwordKey: mysql-password

cache:
  address: valkey-primary:6379
  usePassword: true
  secretName: fleet-valkey-secret
  passwordKey: valkey-password

# デフォルトのFLEET_SERVER_PRIVATE_KEYを削除
environments: null

# secretから抽出
envsFrom:
- name: FLEET_SERVER_PRIVATE_KEY
  valueFrom:
    secretKeyRef:
      name: fleet-server-secret
      key: FLEET_SERVER_PRIVATE_KEY
- name: FLEET_MDM_APPLE_SCEP_CERT_BYTES
  valueFrom:
    secretKeyRef:
      name: fleet-server-secret
      key: FLEET_MDM_APPLE_SCEP_CERT_BYTES
- name: FLEET_MDM_APPLE_SCEP_KEY_BYTES
  valueFrom:
    secretKeyRef:
      name: fleet-server-secret
      key: FLEET_MDM_APPLE_SCEP_KEY_BYTES

resources:
  limits:
    cpu: 1
    memory: 2Gi
  requests:
    cpu: 100m
    memory: 256Mi

osquery:
  logging:
    statusPlugin: filesystem
    resultPlugin: filesystem

ingress:
  enabled: false
