apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

helmCharts:
- name: nfs-subdir-external-provisioner
  releaseName: nfs-subdir-external-provisioner
  namespace: kube-system
  version: 4.0.18
  repo: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner
  includeCRDs: true
  valuesInline:
    nfs:
      server: nas.ssa.suzutan.jp
      path: /symphonic-reactor-pv
    storageClass:
      create: true
      defaultClass: true
      name: nfs-client
      pathPattern: "{{ .PVC.Namespace }}/{{ .PVC.Name }}"
      onDelete: retain
