apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cosmosphere-backup
  labels:
    app.kubernetes.io/name: cosmosphere
    app.kubernetes.io/component: backup
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage: 20Gi
