apiVersion: core.oam.dev/v1beta1
kind: TraitDefinition
metadata:
  name: traefik-route
  namespace: vela-system
  annotations:
    definition.oam.dev/description: "Enable public web traffic for the component using Traefik IngressRoute."
spec:
  appliesToWorkloads:
  - deployments.apps
  - statefulsets.apps
  podDisruptive: false
  schematic:
    cue:
      template: |-
        import "strconv"

        // Service output
        outputs: service: {
          apiVersion: "v1"
          kind:       "Service"
          metadata: name: context.name
          spec: {
            selector: "app.oam.dev/component": context.name
            ports: [
              {
                name:       "port-" + strconv.FormatInt(parameter.port, 10)
                port:       parameter.port
                targetPort: parameter.port
              },
            ]
          }
        }

        // IngressRoute output
        outputs: ingressroute: {
          apiVersion: "traefik.io/v1alpha1"
          kind:       "IngressRoute"
          metadata: name: context.name
          spec: {
            routes: [
              {
                kind: "Rule"
                match: "Host(`" + parameter.domain + "`)"
                services: [{
                  name: context.name
                  port: parameter.port
                }]
                if parameter.middlewares != _|_ {
                  middlewares: [
                    for mw in parameter.middlewares {
                      name:      mw.name
                      namespace: mw.namespace
                    },
                  ]
                }
              },
            ]
          }
        }

        parameter: {
          // +usage=Specify the domain you want to expose
          domain: string

          // +usage=Specify the port to expose
          port: int

          // +usage=Specify middlewares to apply
          middlewares?: [...{
            name:      string
            namespace: string
          }]
        }
