apiVersion: v1
kind: Service
metadata:
  name: n8n
  labels:
    app.kubernetes.io/name: n8n
spec:
  type: ClusterIP
  ports:
  - port: 5678
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app.kubernetes.io/name: n8n
