apiVersion: v1
kind: ConfigMap
metadata:
  name: couchdb-config
  namespace: obsidian-livesync
  labels:
    app.kubernetes.io/name: couchdb
data:
  # Named 10-livesync.ini to load before entrypoint's docker.ini (alphabetical order)
  # See: https://github.com/vrtmrz/obsidian-livesync/blob/main/docs/setup_own_server.md
  10-livesync.ini: |-
    [couchdb]
    single_node = true
    max_document_size = 50000000

    [chttpd]
    require_valid_user = true
    require_valid_user_except_for_up = true
    max_http_request_size = 4294967296
    enable_cors = true

    [chttpd_auth]
    require_valid_user = true
    require_valid_user_except_for_up = true

    [httpd]
    WWW-Authenticate = Basic realm="couchdb"
    bind_address = 0.0.0.0
    enable_cors = true

    [cors]
    origins = app://obsidian.md,capacitor://localhost,http://localhost
    credentials = true
    methods = GET, PUT, POST, HEAD, DELETE
    headers = accept, authorization, content-type, origin, referer
