apiVersion: apps/v1
kind: Deployment
metadata:
  name: voidauth
  namespace: voidauth
  labels:
    app.kubernetes.io/name: voidauth
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: voidauth

  template:
    metadata:
      labels:
        app.kubernetes.io/name: voidauth

    spec:
      containers:
      - name: voidauth
        image: voidauth/voidauth:latest
        env:
        - name: APP_URL
          value: https://qualia.harvestasya.org
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: voidauth-database-app
              key: host
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: voidauth-database-app
              key: dbname
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: voidauth-database-app
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: voidauth-database-app
              key: password
        - name: STORAGE_KEY
          valueFrom:
            secretKeyRef:
              name: voidauth-config
              key: STORAGE_KEY
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
        startupProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 0
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 30
        volumeMounts:
        - mountPath: /app/config
          name: config
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: voidauth-config
