apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: voidauth-config
  namespace: voidauth
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage: 1Gi
