name: k8s api deprecate check

on:
  pull_request:
    branches:
    - master
    paths:
    - freesia/**/*.yaml

env:
  PLUTO_TARGET_DIRECTORY: freesia/

jobs:
  api-deprecate-check:
    name: k8s api deprecate check
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Download Pluto
      uses: FairwindsOps/pluto/github-action@master

    - name: Deprecated check
      run: |-
        pluto detect-files -d ${PLUTO_TARGET_DIRECTORY}
