name: "terraform apply"

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
  pull-requests: write

on:
  push:
    branches:
    - main
    - master
    paths:
    - terraform/**
jobs:
  apply:
    name: terraform apply
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory:
        - terraform/harvestasya.org
        - terraform/suzutan.jp
    env:
      TF_VAR_cloudflare_account_id: ${{ secrets.TF_VAR_CLOUDFLARE_ACCOUNT_ID }}
      TF_VAR_cloudflare_api_token: ${{ secrets.TF_VAR_CLOUDFLARE_API_TOKEN }}
      TF_VAR_app_id: ${{ secrets.TF_VAR_GITHUB_APP_ID }}
      TF_VAR_app_installation_id: ${{ secrets.TF_VAR_GITHUB_APP_INSTALLATION_ID }}
      TF_VAR_app_pem_file: ${{ secrets.TF_VAR_GITHUB_APP_PEM_FILE }}
      TF_VAR_github_client_id: ${{ secrets.TF_VAR_GITHUB_CLIENT_ID }}
      TF_VAR_github_client_secret: ${{ secrets.TF_VAR_GITHUB_CLIENT_SECRET }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v6
    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/TerraformBackendAccessForGitHubActions
        aws-region: ap-northeast-3

    - name: terraform apply
      uses: dflook/terraform-apply@v2
      with:
        path: ${{ matrix.directory }}
        add_github_comment: true
