name: Terraform fmt check

on:
  pull_request:
    branches:
    - master
    paths:
    - terraform/**

jobs:
  check_format:
    runs-on: ubuntu-latest
    name: Check Terraform file are formatted correctly
    strategy:
      matrix:
        directory:
        - terraform/harvestasya.org
        - terraform/suzutan.jp
        - terraform/github
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: terraform fmt
      uses: dflook/terraform-fmt-check@v2
      with:
        path: ${{ matrix.directory }}
